#footer-container {
    background: #252f3f;
    position:relative;
    padding: 25px 0;
    bottom:0;
}
#footer {
    color: white;
    padding: 25px 0;
    max-width: 1400px;
    margin: auto;
}
#footer .github{
    width: 28px;
}
#footer #footer-team {
    text-align: center;
    letter-spacing: 3px;
}
#footer-logo {
    text-align: center;
    letter-spacing: 3px;
}
#footer-team p {
    margin-bottom: 5px;
}
#footer hr {
    border: 1px solid white;
    background-image: none;
    background: white;
}