.sidenav {
	height: 100%;
	background-color: #252f3f;
	overflow-x: hidden;
	padding: 20px 5px 20px 5px;
	font-size: 20px;
}

.sidenav a {
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: #bbbbbb;
	display: block;
}
.sidenav p {
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: #bbbbbb;
	display: block;
}
.sidenav p {
	margin: 0;
	color: #616161;
}
.sidenav li {
	padding: 5px 10px 5px 10px;
	color: #818181;
}
.sidenav a:hover {
    color: #f1f1f1;
    background: grey;
	border-radius: 5px;
	transition: 0.3s;
}

ul {
	list-style: none;
}

#dashboard {
	margin-top: 60px;
	margin-bottom: 20px;
}

#logout {
	margin-top: 260px;
}

.logo {
	margin-left: -30px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

#logo {
	width: 50%;
}
#logo-li {
	margin: auto;
	text-align: center;
}