.container {
    padding: 50px 0px;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
h1 h2 h3 h4 h5 h6 {
    font-weight: 200;
}